/* Game Page */

#consoleWindow{
    width: 500px;
    height: 288px;
    background-size: contain;
    position: relative;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;

    border: 15px solid rgb(180, 115, 17);
    border-style: double;
    border-radius: 200px 200px 0px 0px;
}

#story {
    width: 700px;
    margin: auto;
    padding: 20px 0px;
}

#avatar{
    position: absolute;
    top: 130px;
    left: 110px;
}

#encounter{
    position: absolute;
    top: 130px;
    left: 270px;
}

#choices{
    width: fit-content;
    margin: auto;
}

.village{
    background-image: url('../images/pixel-village.png');
    background-color:#92cb9a;
}

.forest{
    background-image: url('../images/pixel-forest.jpg');
    background-color: #0d1305;
}

.field{
    background-image: url('../images/pixel-field.png');
}

.room{
    background-image: url('../images/pixel-room.png');
    background-color: #28353c;

}

.cave{
    background-image: url('../images/pixel-cave.png');
    background-color: #473b7b;

}

.death{
    background-color: black;
    width: 500px;
}
/* 
Floating Nav */

.navigation {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 96.38px;
    height: 25px;
    background-color: #ec2424;
    padding: 10px;
    border-radius: 80px;
    opacity: .85;
    animation: fadein 2s;
}

.navigation2 {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: #ec2424;
    padding: 10px;
    border-radius: 80px;
    opacity: .85;
    animation: fadein 2s;
}

#mute, #home, #resultsicon {
    width: 25%;
    padding-left: 1px;
}

#mute:hover, #home:hover, #resultsicon:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#home2 {
    width: 100%;
    height: 100%;
}

#home2:hover {
    cursor: pointer;
    transform: scale(1.5);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .85; }
} 

/* Character images for the encounters during the game. */

.oldMan {
    height: 5px;
    width: 5px;
    top: 5px !important;
    left: 305px !important;

    -ms-animation:swing ease-in-out 1s infinite alternate;
    -webkit-animation: swing ease-in-out 1s infinite alternate;
    -moz-animation: swing ease-in-out 1s infinite alternate;
    -o-animation: swing ease-in-out 1s infinite alternate;
    animation: swing ease-in-out 1s infinite alternate;
    -ms-transform-origin: center -20px;
    -webkit-transform-origin: center -20px;
    -moz-transform-origin: center -20px;
    -o-transrom-origin: center -20px;
    transform-origin: center -20px;
    
  box-shadow: 65px 5px 0 #595959,70px 10px 0 #595959,65px 15px 0 #595959,70px 20px 0 #595959,65px 25px 0 #595959,70px 25px 0 #595959,75px 25px 0 #595959,60px 30px 0 #595959,70px 30px 0 #595959,80px 30px 0 #595959,55px 35px 0 #595959,70px 35px 0 #595959,85px 35px 0 #595959,55px 40px 0 #595959,60px 40px 0 #FFFFFF,65px 40px 0 #FFFFFF,70px 40px 0 #595959,85px 40px 0 #595959,55px 45px 0 #DBAE6B,60px 45px 0 #DBAE6B,65px 45px 0 #DBAE6B,70px 45px 0 #595959,85px 45px 0 #595959,55px 50px 0 #DBAE6B,60px 50px 0 #DBAE6B,65px 50px 0 #DBAE6B,70px 50px 0 #595959,85px 50px 0 #595959,55px 55px 0 #FFFFFF,60px 55px 0 #FFFFFF,65px 55px 0 #FFFFFF,70px 55px 0 #595959,85px 55px 0 #595959,20px 60px 0 #C4C4C4,25px 60px 0 #C4C4C4,55px 60px 0 #595959,60px 60px 0 #FFFFFF,65px 60px 0 #FFFFFF,70px 60px 0 #595959,75px 60px 0 #C4C4C4,85px 60px 0 #595959,20px 65px 0 #C4C4C4,25px 65px 0 #C4C4C4,30px 65px 0 #DBAE6B,35px 65px 0 #BA945B,40px 65px 0 #BA945B,45px 65px 0 #DBAE6B,50px 65px 0 #DBAE6B,55px 65px 0 #595959,60px 65px 0 #FFFFFF,65px 65px 0 #C4C4C4,70px 65px 0 #595959,75px 65px 0 #C4C4C4,85px 65px 0 #595959,50px 70px 0 #595959,60px 70px 0 #C4C4C4,65px 70px 0 #C4C4C4,70px 70px 0 #DBAE6B,75px 70px 0 #C4C4C4,80px 70px 0 #C4C4C4,85px 70px 0 #595959,55px 75px 0 #595959,60px 75px 0 #C4C4C4,65px 75px 0 #828282,70px 75px 0 #595959,75px 75px 0 #DBAE6B,80px 75px 0 #C4C4C4,85px 75px 0 #595959,55px 80px 0 #595959,60px 80px 0 #C4C4C4,65px 80px 0 #C4C4C4,70px 80px 0 #595959,75px 80px 0 #C4C4C4,80px 80px 0 #C4C4C4,85px 80px 0 #595959,55px 85px 0 #595959,60px 85px 0 #C4C4C4,65px 85px 0 #C4C4C4,70px 85px 0 #595959,75px 85px 0 #828282,80px 85px 0 #C4C4C4,85px 85px 0 #595959,50px 90px 0 #C4C4C4,55px 90px 0 #595959,60px 90px 0 #C4C4C4,65px 90px 0 #C4C4C4,70px 90px 0 #595959,75px 90px 0 #C4C4C4,80px 90px 0 #C4C4C4,85px 90px 0 #595959,50px 95px 0 #595959,55px 95px 0 #595959,60px 95px 0 #DBAE6B,65px 95px 0 #DBAE6B,70px 95px 0 #595959,75px 95px 0 #C4C4C4,80px 95px 0 #C4C4C4,85px 95px 0 #595959,90px 95px 0 #595959,50px 100px 0 #BA945B,55px 100px 0 #595959,60px 100px 0 #DBAE6B,65px 100px 0 #C4C4C4,70px 100px 0 #595959,75px 100px 0 #C4C4C4,80px 100px 0 #595959,85px 100px 0 #595959,50px 105px 0 #DBAE6B,60px 105px 0 #BA945B,65px 105px 0 #595959,70px 105px 0 #595959,75px 105px 0 #595959,50px 110px 0 #DBAE6B,60px 110px 0 #DBAE6B,50px 115px 0 #DBAE6B,60px 115px 0 #DBAE6B,60px 120px 0 #DBAE6B;
}

.oldMan:after{
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.gargoyle {
    width: 5px;
    height: 5px;
    left: 305px !important;
    top: 120px !important;
    
    -ms-animation: mover 1s infinite  alternate;
    -webkit-animation: mover 1s infinite  alternate;
    -moz-animation: mover 1s infinite  alternate;
    -o-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;

  box-shadow: 65px 10px 0 #6B6B6B,60px 15px 0 #6B6B6B,65px 15px 0 #6B6B6B,85px 15px 0 #6B6B6B,50px 20px 0 #A6A6A6,55px 20px 0 #A6A6A6,60px 20px 0 #A6A6A6,65px 20px 0 #A6A6A6,70px 20px 0 #6B6B6B,80px 20px 0 #6B6B6B,85px 20px 0 #6B6B6B,105px 20px 0 #A6A6A6,110px 20px 0 #A6A6A6,115px 20px 0 #A6A6A6,120px 20px 0 #A6A6A6,50px 25px 0 #BCBCBC,55px 25px 0 #BCBCBC,60px 25px 0 #BCBCBC,65px 25px 0 #A6A6A6,70px 25px 0 #6B6B6B,75px 25px 0 #BCBCBC,80px 25px 0 #BCBCBC,85px 25px 0 #A6A6A6,90px 25px 0 #A6A6A6,105px 25px 0 #A6A6A6,110px 25px 0 #BCBCBC,115px 25px 0 #BCBCBC,50px 30px 0 #BCBCBC,55px 30px 0 #BCBCBC,60px 30px 0 #BCBCBC,65px 30px 0 #A6A6A6,70px 30px 0 #A6A6A6,75px 30px 0 #6B6B6B,80px 30px 0 #BCBCBC,85px 30px 0 #BCBCBC,90px 30px 0 #BCBCBC,95px 30px 0 #A6A6A6,100px 30px 0 #BCBCBC,105px 30px 0 #BCBCBC,110px 30px 0 #BCBCBC,65px 35px 0 #BCBCBC,70px 35px 0 #6B6B6B,75px 35px 0 #6B6B6B,80px 35px 0 #BCBCBC,85px 35px 0 #BCBCBC,90px 35px 0 #BCBCBC,95px 35px 0 #A6A6A6,70px 40px 0 #BCBCBC,75px 40px 0 #BCBCBC,80px 40px 0 #BCBCBC,85px 40px 0 #A6A6A6,90px 40px 0 #A6A6A6,95px 40px 0 #A6A6A6,100px 40px 0 #6B6B6B,50px 45px 0 #6B6B6B,55px 45px 0 #6B6B6B,60px 45px 0 #6B6B6B,65px 45px 0 #6B6B6B,70px 45px 0 #6B6B6B,75px 45px 0 #BCBCBC,80px 45px 0 #BCBCBC,85px 45px 0 #6B6B6B,90px 45px 0 #BCBCBC,95px 45px 0 #A6A6A6,100px 45px 0 #6B6B6B,105px 45px 0 #6B6B6B,50px 50px 0 #6B6B6B,75px 50px 0 #BCBCBC,80px 50px 0 #BCBCBC,85px 50px 0 #6B6B6B,90px 50px 0 #BCBCBC,95px 50px 0 #A6A6A6,60px 55px 0 #6B6B6B,65px 55px 0 #6B6B6B,70px 55px 0 #6B6B6B,75px 55px 0 #6B6B6B,80px 55px 0 #6B6B6B,85px 55px 0 #BCBCBC,90px 55px 0 #A6A6A6,95px 55px 0 #BCBCBC,100px 55px 0 #6B6B6B,60px 60px 0 #6B6B6B,75px 60px 0 #BCBCBC,80px 60px 0 #BCBCBC,85px 60px 0 #BCBCBC,90px 60px 0 #A6A6A6,95px 60px 0 #A6A6A6,100px 60px 0 #6B6B6B,105px 60px 0 #6B6B6B,75px 65px 0 #BCBCBC,80px 65px 0 #BCBCBC,85px 65px 0 #BCBCBC,90px 65px 0 #BCBCBC,95px 65px 0 #A6A6A6,75px 70px 0 #BCBCBC,80px 70px 0 #BCBCBC,85px 70px 0 #BCBCBC,90px 70px 0 #A6A6A6,95px 70px 0 #A6A6A6,100px 70px 0 #6B6B6B,70px 75px 0 #A6A6A6,75px 75px 0 #BCBCBC,80px 75px 0 #BCBCBC,85px 75px 0 #A6A6A6,90px 75px 0 #BCBCBC,95px 75px 0 #BCBCBC,100px 75px 0 #A6A6A6,105px 75px 0 #6B6B6B,70px 80px 0 #A6A6A6,75px 80px 0 #BCBCBC,80px 80px 0 #BCBCBC,85px 80px 0 #A6A6A6,90px 80px 0 #BCBCBC,100px 80px 0 #BCBCBC,105px 80px 0 #A6A6A6,110px 80px 0 #6B6B6B,70px 85px 0 #A6A6A6,75px 85px 0 #BCBCBC,85px 85px 0 #A6A6A6,90px 85px 0 #A6A6A6,95px 85px 0 #BCBCBC,105px 85px 0 #BCBCBC,110px 85px 0 #BCBCBC,115px 85px 0 #6B6B6B,120px 85px 0 #6B6B6B,125px 85px 0 #6B6B6B,75px 90px 0 #BCBCBC,90px 90px 0 #A6A6A6,95px 90px 0 #BCBCBC,115px 90px 0 #BCBCBC,120px 90px 0 #BCBCBC,75px 95px 0 #BCBCBC,95px 95px 0 #BCBCBC,70px 100px 0 #6B6B6B,95px 100px 0 #BCBCBC,90px 105px 0 #6B6B6B;
}

.mirror {
    top: 130px !important;
    left: 365px !important;
    width: 5px;
    height: 5px;
    
    -ms-transform: rotate(20deg); /* IE 9 */
    -webkit-transform: rotate(20deg); /* Safari */
    -moz-transform:rotate(20deg);
    -o-transform:rotate(20deg);
    transform: rotate(20deg);

    box-shadow: 65px 25px 0 #FFF70F,70px 25px 0 #FFF70F,60px 30px 0 #FFF70F,65px 30px 0 #E7E7E7,70px 30px 0 #E7E7E7,75px 30px 0 #FFF70F,55px 35px 0 #FFF70F,60px 35px 0 #E7E7E7,65px 35px 0 #E7E7E7,70px 35px 0 #E7E7E7,75px 35px 0 #E7E7E7,80px 35px 0 #FFF70F,55px 40px 0 #FFF70F,60px 40px 0 #E7E7E7,65px 40px 0 #E7E7E7,70px 40px 0 #E7E7E7,75px 40px 0 #E7E7E7,80px 40px 0 #B6B6B6,85px 40px 0 #FFF70F,50px 45px 0 #FFF70F,55px 45px 0 #FFF70F,60px 45px 0 #E7E7E7,65px 45px 0 #E7E7E7,70px 45px 0 #E7E7E7,75px 45px 0 #B6B6B6,80px 45px 0 #E7E7E7,85px 45px 0 #FFF70F,90px 45px 0 #FFF70F,50px 50px 0 #FFF70F,55px 50px 0 #E7E7E7,60px 50px 0 #E7E7E7,65px 50px 0 #E7E7E7,70px 50px 0 #B6B6B6,75px 50px 0 #E7E7E7,80px 50px 0 #E7E7E7,85px 50px 0 #FFF70F,90px 50px 0 #FFF70F,95px 50px 0 #DBDB0F,50px 55px 0 #FFF70F,55px 55px 0 #E7E7E7,60px 55px 0 #E7E7E7,65px 55px 0 #B6B6B6,70px 55px 0 #E7E7E7,75px 55px 0 #E7E7E7,80px 55px 0 #B6B6B6,85px 55px 0 #B6B6B6,90px 55px 0 #FFF70F,95px 55px 0 #DBDB0F,50px 60px 0 #FFF70F,55px 60px 0 #E7E7E7,60px 60px 0 #B6B6B6,65px 60px 0 #E7E7E7,70px 60px 0 #E7E7E7,75px 60px 0 #B6B6B6,80px 60px 0 #B6B6B6,85px 60px 0 #E7E7E7,90px 60px 0 #FFF70F,95px 60px 0 #DBDB0F,50px 65px 0 #FFF70F,55px 65px 0 #B6B6B6,60px 65px 0 #E7E7E7,65px 65px 0 #E7E7E7,70px 65px 0 #B6B6B6,75px 65px 0 #B6B6B6,80px 65px 0 #E7E7E7,85px 65px 0 #E7E7E7,90px 65px 0 #FFF70F,95px 65px 0 #DBDB0F,50px 70px 0 #FFF70F,55px 70px 0 #E7E7E7,60px 70px 0 #E7E7E7,65px 70px 0 #B6B6B6,70px 70px 0 #B6B6B6,75px 70px 0 #E7E7E7,80px 70px 0 #E7E7E7,85px 70px 0 #E7E7E7,90px 70px 0 #FFF70F,95px 70px 0 #DBDB0F,50px 75px 0 #FFF70F,55px 75px 0 #FFF70F,60px 75px 0 #B6B6B6,65px 75px 0 #B6B6B6,70px 75px 0 #E7E7E7,75px 75px 0 #E7E7E7,80px 75px 0 #E7E7E7,85px 75px 0 #FFF70F,90px 75px 0 #FFF70F,55px 80px 0 #FFF70F,60px 80px 0 #B6B6B6,65px 80px 0 #E7E7E7,70px 80px 0 #E7E7E7,75px 80px 0 #E7E7E7,80px 80px 0 #E7E7E7,85px 80px 0 #FFF70F,90px 80px 0 #DBDB0F,55px 85px 0 #FFF70F,60px 85px 0 #E7E7E7,65px 85px 0 #E7E7E7,70px 85px 0 #E7E7E7,75px 85px 0 #E7E7E7,80px 85px 0 #E7E7E7,85px 85px 0 #FFF70F,90px 85px 0 #DBDB0F,55px 90px 0 #FFF70F,60px 90px 0 #E7E7E7,65px 90px 0 #E7E7E7,70px 90px 0 #E7E7E7,75px 90px 0 #E7E7E7,80px 90px 0 #FFF70F,60px 95px 0 #FFF70F,65px 95px 0 #E7E7E7,70px 95px 0 #E7E7E7,75px 95px 0 #FFF70F,65px 100px 0 #FFF70F,70px 100px 0 #FFF70F;
}
.doors {
    width: 5px;
    height: 5px;

    -ms-animation: mover 1s infinite  alternate;
    -webkit-animation: mover 1s infinite  alternate;
    -moz-animation: mover 1s infinite  alternate;
    -o-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;

    box-shadow: 105px 15px 0 #E3E766,70px 20px 0 #E3E766,80px 25px 0 #E3E766,95px 25px 0 #E3E766,125px 25px 0 #E3E766,50px 30px 0 #E3E766,65px 30px 0 #FFEE03,70px 30px 0 #FFEE03,110px 30px 0 #FFEE03,115px 30px 0 #FFEE03,40px 35px 0 #E3E766,60px 35px 0 #FFEE03,65px 35px 0 #FCF526,70px 35px 0 #EBFF33,75px 35px 0 #FFEE03,90px 35px 0 #E3E766,105px 35px 0 #FFEE03,110px 35px 0 #FCF526,115px 35px 0 #EBFF33,120px 35px 0 #FFEE03,135px 35px 0 #E3E766,55px 40px 0 #FFEE03,60px 40px 0 #FCF526,65px 40px 0 #FCF526,70px 40px 0 #EBFF33,75px 40px 0 #E3E766,80px 40px 0 #FFEE03,100px 40px 0 #FFEE03,105px 40px 0 #FCF526,110px 40px 0 #FCF526,115px 40px 0 #EBFF33,120px 40px 0 #E3E766,125px 40px 0 #FFEE03,45px 45px 0 #E3E766,55px 45px 0 #FFEE03,60px 45px 0 #FCF526,65px 45px 0 #EBFF33,70px 45px 0 #E3E766,75px 45px 0 #E3E766,80px 45px 0 #FFEE03,100px 45px 0 #FFEE03,105px 45px 0 #FCF526,110px 45px 0 #EBFF33,115px 45px 0 #E3E766,120px 45px 0 #E3E766,125px 45px 0 #FFEE03,140px 45px 0 #E3E766,55px 50px 0 #FFEE03,60px 50px 0 #FCF526,65px 50px 0 #EBFF33,70px 50px 0 #E3E766,75px 50px 0 #E3E766,80px 50px 0 #FFEE03,90px 50px 0 #E3E766,100px 50px 0 #FFEE03,105px 50px 0 #FCF526,110px 50px 0 #EBFF33,115px 50px 0 #E3E766,120px 50px 0 #F3F3F3,125px 50px 0 #FFEE03,135px 50px 0 #E3E766,55px 55px 0 #FFEE03,60px 55px 0 #FCF526,65px 55px 0 #EBFF33,70px 55px 0 #E3E766,75px 55px 0 #F3F3F3,80px 55px 0 #FFEE03,100px 55px 0 #FFEE03,105px 55px 0 #FCF526,110px 55px 0 #E3E766,115px 55px 0 #E3E766,120px 55px 0 #E3E766,125px 55px 0 #FFEE03,55px 60px 0 #FFEE03,60px 60px 0 #FCF526,65px 60px 0 #EBFF33,70px 60px 0 #E3E766,75px 60px 0 #F3F3F3,80px 60px 0 #FFEE03,100px 60px 0 #FFEE03,105px 60px 0 #FCF526,110px 60px 0 #EBFF33,115px 60px 0 #E3E766,120px 60px 0 #F3F3F3,125px 60px 0 #FFEE03,55px 65px 0 #FFEE03,60px 65px 0 #FCF526,65px 65px 0 #FCF526,70px 65px 0 #E3E766,75px 65px 0 #E3E766,80px 65px 0 #FFEE03,100px 65px 0 #FFEE03,105px 65px 0 #FCF526,110px 65px 0 #EBFF33,115px 65px 0 #E3E766,120px 65px 0 #F3F3F3,125px 65px 0 #FFEE03,55px 70px 0 #FFEE03,60px 70px 0 #FCF526,65px 70px 0 #FCF526,70px 70px 0 #E3E766,75px 70px 0 #F3F3F3,80px 70px 0 #FFEE03,100px 70px 0 #FFEE03,105px 70px 0 #EBFF33,110px 70px 0 #EBFF33,115px 70px 0 #E3E766,120px 70px 0 #E3E766,125px 70px 0 #FFEE03,55px 75px 0 #FFEE03,60px 75px 0 #FCF526,65px 75px 0 #EBFF33,70px 75px 0 #EBFF33,75px 75px 0 #E3E766,80px 75px 0 #FFEE03,100px 75px 0 #FFEE03,105px 75px 0 #EBFF33,110px 75px 0 #EBFF33,115px 75px 0 #EBFF33,120px 75px 0 #E3E766,125px 75px 0 #FFEE03,55px 80px 0 #FFEE03,60px 80px 0 #FCF526,65px 80px 0 #FCF526,70px 80px 0 #FCF526,75px 80px 0 #FCF526,80px 80px 0 #FFEE03,100px 80px 0 #FFEE03,105px 80px 0 #EBFF33,110px 80px 0 #EBFF33,115px 80px 0 #EBFF33,120px 80px 0 #EBFF33,125px 80px 0 #FFEE03;
}
.signpost {
    width: 5px;
    height: 5px;

    box-shadow: 80px 30px 0 #9E6E26,80px 35px 0 #9E6E26,60px 40px 0 #BC8322,65px 40px 0 #BC8322,70px 40px 0 #9E6E26,75px 40px 0 #9E6E26,80px 40px 0 #9E6E26,55px 45px 0 #BC8322,60px 45px 0 #BC8322,65px 45px 0 #BC8322,70px 45px 0 #BC8322,75px 45px 0 #BC8322,80px 45px 0 #9E6E26,80px 50px 0 #9E6E26,85px 50px 0 #9E6E26,90px 50px 0 #9E6E26,95px 50px 0 #BC8322,80px 55px 0 #9E6E26,85px 55px 0 #BC8322,90px 55px 0 #BC8322,95px 55px 0 #BC8322,100px 55px 0 #BC8322,105px 55px 0 #BC8322,80px 60px 0 #9E6E26,80px 65px 0 #785324,80px 70px 0 #9E6E26,80px 75px 0 #785324,80px 80px 0 #785324,80px 85px 0 #785324,80px 90px 0 #785324,80px 95px 0 #785324,80px 100px 0 #785324,80px 105px 0 #785324;
}
.rose {
    top: 210px !important;
    left: 230px !important;
    width: 2px;
    height: 2px;

    -moz-transform: scale(2.2);
    -o-transform: scale(2.2);
    -ms-transform: scale(2.2); /* IE 9 */
    -webkit-transform: scale(2.2); /* Safari */
    transform: scale(2.2);

    box-shadow: 9px 5px 0 #BC1111,10px 5px 0 #E74C3C,11px 5px 0 #E74C3C,8px 6px 0 #BC1111,9px 6px 0 #E74C3C,10px 6px 0 #F39C12,11px 6px 0 #BC1111,12px 6px 0 #BC1111,8px 7px 0 #BC1111,9px 7px 0 #BC1111,10px 7px 0 #E74C3C,11px 7px 0 #E74C3C,12px 7px 0 #BC1111,9px 8px 0 #BC1111,10px 8px 0 #BC1111,11px 8px 0 #BC1111,10px 9px 0 #BC1111,11px 9px 0 #52EB34,12px 9px 0 #35AD02,12px 10px 0 #52EB34,13px 10px 0 #35AD02,14px 10px 0 #35AD02,12px 11px 0 #52EB34,13px 11px 0 #52EB34,14px 11px 0 #35AD02,10px 12px 0 #35AD02,11px 12px 0 #35AD02,12px 12px 0 #52EB34,10px 13px 0 #52EB34,11px 13px 0 #35AD02,12px 13px 0 #52EB34,12px 14px 0 #52EB34,12px 15px 0 #52EB34,11px 16px 0 #52EB34,11px 17px 0 #52EB34;
}

.room #avatar{
    top: 150px !important;
    left: 180px !important;
}

.field #avatar{
    left: 150px !important;
}

.village #avatar{
    left: 240px !important;
}

.cave #avatar{
    top: 130px !important;
}

.death #avatar{
    top: 140px !important;
    left: 110px !important;

    margin: 0px;

    -webkit-animation:spin 4s linear infinite;
    -ms-animation: spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    -o-animation: spin 4s linear infinite;
    animation:spin 4s linear infinite;
    -webkit-transform-origin: 70px;
    -ms-transform-origin: 70px;
    -moz-transform-origin: 70px;
    -o-transform-origin: 70px;
    transform-origin: 70px;
    width: 5px;
    height: 5px;
}

@-moz-keyframes 
spin { 100% { -moz-transform: rotate(360deg);} }
@-moz-keyframes 
mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@-moz-keyframes 
swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

@-webkit-keyframes 
spin { 100% { -webkit-transform: rotate(360deg); } }
@-webkit-keyframes 
mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@-moz-keyframes 
swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}

@keyframes 
spin { 100% { transform:rotate(360deg);} }
@keyframes
mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}
@keyframes swing {
    0% { transform: rotate(3deg); }
    100% { transform: rotate(-3deg); }
}