/* Game Page */

#consoleWindow{
    width: 734px;
    height: 288px;
    background-size: contain;
    position: relative;
    margin: auto;
}

#story {
    width: 700px;
    margin: auto;
    padding: 20px 0px;
}

#avatar{
    position: absolute;
    top: 120px;
    left: 120px;
}

#choices{
    width: fit-content;
    margin: auto;
}

.village{
    background-image: url('../images/pixel-village.png');
    background-repeat: no-repeat;
}

.forest{
    background-image: url('../images/pixel-forest.jpg');
    background-repeat: repeat;
}

.field{
    background-image: url('../images/pixel-field.png');
    background-repeat: repeat;
}

.room{
    background-image: url('../images/pixel-room.png');
    background-position: center;
    background-repeat: no-repeat;
}

.death{
    background-color: black;
}
/* 
Floating Nav */

.navigation {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 96.38px;
    height: 25px;
    background-color: #ec2424;
    padding: 10px;
    border-radius: 80px;
    opacity: .85;
    animation: fadein 2s;
}

.navigation2 {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-color: #ec2424;
    padding: 10px;
    border-radius: 80px;
    opacity: .85;
    animation: fadein 2s;
}

#mute, #home, #resultsicon {
    width: 25%;
    padding-left: 1px;
}

#mute:hover, #home:hover, #resultsicon:hover {
    cursor: pointer;
    transform: scale(1.15);
}

#home2 {
    width: 100%;
    height: 100%;
}

#home2:hover {
    cursor: pointer;
    transform: scale(1.5);
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: .85; }
} 