/* Game Page */

#consoleWindow{
    width: 734px;
    height: 288px;
    background-size: contain;
    position: relative;
    margin: auto;
}

#story {
    width: 700px;
    margin: auto;
    padding: 20px 0px;
}

#avatar{
    position: absolute;
    top: 120px;
    left: 120px;
}

#choices{
    width: fit-content;
    margin: auto;
}

.village{
    background-image: url('../images/pixel-village.png');
    background-repeat: no-repeat;
}

.forest{
    background-image: url('../images/pixel-forest.jpg');
    background-repeat: repeat;
}

.field{
    background-image: url('../images/pixel-field.png');
    background-repeat: repeat;
}

.room{
    background-image: url('../images/pixel-room.png');
    background-position: center;
    background-repeat: no-repeat;
}

.death{
    background-color: black;
}