/* Results Page */

#previous {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.oldResult {
    width: 350px;
    height: 150px;
    border: 2px solid black;
    margin: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all .2s ease-in-out;
}

.oldResult:hover{
    transform: scale(1.05);
}

.avaBox {
    height: 100%;
    width: 40%;
    display: inline-block;
}

.oldResult h3{
    width: 60%;
    height: 20%;
    display: inline;
    margin: 0;

}

.oldResult h4{
    width: 60%;
    height: 80%;
    display: inline;
    margin: 0;
}

.leaderboardH1 {
    text-align: center;
    font-family: 'Kurale', serif;
    font-size: 2.8em;
    color: white;
    background-color: #ec2424;
    padding: 20px;
    border-radius: 80px;
    width: fit-content;
    margin: 0 auto;
}

.nogames {
    background-color: none;
}

h1, h2 {
    text-align: center;
}

#devs {
    background-color: #ec2424;
    width: fit-content;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 80px;
    padding: 20px;
    color: white;
    font-family: 'Kurale', serif;
}

#specialthanks {
    padding: 10px;
    margin: 0 auto;
    margin-top: 30px;
    width: fit-content;
    color: white;
    background-color: #ec2424;
    border-radius: 80px;
    font-family: 'Kurale', serif;
}

#musiccredits {
    padding: 20px;
    margin: 0 auto;
    margin-top: 30px;
    width: fit-content;
    color: white;
    background-color: #ec2424;
    border-radius: 80px;
    font-family: 'Kurale', serif;
    text-align: center;
    padding-bottom: 5px;
}