
#character1{
    width: 100px;
    height: 100px;
    background-color: blue;
    display: inline-block;
}

#character2{
    width: 100px;
    height: 100px;
    background-color: red;
    display: inline-block;
}

#character3{
    width: 100px;
    height: 100px;
    background-color: green;
    display: inline-block;
}

#resume{
    display: none;
}

#game-window{
    width: 734px;
    height: 288px;
    background-image: url('../images/pixel-village.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

#avatar{
    position: absolute;
    top: 120px;
    left: 120px;
}
.sj {
    width: 5px;
    height: 5px;
  
  box-shadow: 55px 10px 0 #000000,60px 10px 0 #000000,65px 10px 0 #000000,70px 10px 0 #000000,75px 10px 0 #000000,55px 15px 0 #000000,60px 15px 0 #000000,65px 15px 0 #C78645,70px 15px 0 #C78645,75px 15px 0 #000000,55px 20px 0 #000000,60px 20px 0 #000000,65px 20px 0 #C78645,70px 20px 0 #C78645,75px 20px 0 #C78645,55px 25px 0 #C78645,60px 25px 0 #000000,65px 25px 0 #C78645,70px 25px 0 #C78645,75px 25px 0 #C78645,55px 30px 0 #000000,60px 30px 0 #000000,65px 30px 0 #C78645,70px 30px 0 #C78645,75px 30px 0 #000000,55px 35px 0 #000000,60px 35px 0 #000000,65px 35px 0 #C78645,70px 35px 0 #000000,75px 35px 0 #000000,55px 40px 0 #616161,60px 40px 0 #000000,65px 40px 0 #DEDEDE,70px 40px 0 #616161,75px 40px 0 #000000,50px 45px 0 #616161,55px 45px 0 #616161,60px 45px 0 #000000,65px 45px 0 #DEDEDE,70px 45px 0 #616161,75px 45px 0 #616161,80px 45px 0 #616161,50px 50px 0 #616161,55px 50px 0 #616161,60px 50px 0 #616161,65px 50px 0 #DEDEDE,70px 50px 0 #616161,75px 50px 0 #616161,80px 50px 0 #616161,50px 55px 0 #616161,55px 55px 0 #616161,60px 55px 0 #616161,65px 55px 0 #DEDEDE,70px 55px 0 #616161,75px 55px 0 #616161,80px 55px 0 #616161,50px 60px 0 #616161,55px 60px 0 #616161,60px 60px 0 #616161,65px 60px 0 #DEDEDE,70px 60px 0 #616161,75px 60px 0 #616161,80px 60px 0 #616161,50px 65px 0 #616161,55px 65px 0 #616161,60px 65px 0 #616161,65px 65px 0 #DEDEDE,70px 65px 0 #616161,75px 65px 0 #616161,80px 65px 0 #616161,50px 70px 0 #DEDEDE,55px 70px 0 #616161,60px 70px 0 #616161,65px 70px 0 #DEDEDE,70px 70px 0 #616161,75px 70px 0 #616161,80px 70px 0 #DEDEDE,50px 75px 0 #C78645,55px 75px 0 #616161,60px 75px 0 #616161,65px 75px 0 #48A5DB,70px 75px 0 #616161,75px 75px 0 #616161,80px 75px 0 #C78645,55px 80px 0 #48A5DB,60px 80px 0 #616161,65px 80px 0 #48A5DB,70px 80px 0 #616161,75px 80px 0 #48A5DB,55px 85px 0 #48A5DB,60px 85px 0 #48A5DB,65px 85px 0 #48A5DB,70px 85px 0 #48A5DB,75px 85px 0 #48A5DB,55px 90px 0 #48A5DB,60px 90px 0 #48A5DB,70px 90px 0 #48A5DB,75px 90px 0 #48A5DB,55px 95px 0 #48A5DB,60px 95px 0 #48A5DB,70px 95px 0 #48A5DB,75px 95px 0 #48A5DB,60px 100px 0 #48A5DB,70px 100px 0 #48A5DB,75px 100px 0 #48A5DB,60px 105px 0 #48A5DB,75px 105px 0 #48A5DB,60px 110px 0 #48A5DB,75px 110px 0 #48A5DB,60px 115px 0 #48A5DB,75px 115px 0 #48A5DB,60px 120px 0 #000000,75px 120px 0 #000000,60px 125px 0 #000000,75px 125px 0 #000000; 
  }