
body {
    background-color: #212F3C;
}

section {
    text-align: center;
    border: 5px solid gray;
    padding: 20px;
    margin: 200px;
    background-color: #9F9F9F;
}

footer {
    width: 100%; 
    height: 60px;  
    text-align: center; 
    color: #212F3C; 
    background: #9F9F9F;
}